@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a class="h2" asp-area="" asp-controller="Shawls" asp-action="Index">Our Shawl Catalogue</a>.</p>
</div>
